<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlink}}
</head>
<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="row">
                   <!-- left side div -->
                    
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                            <img  src="images/error.jpg" alt="thapa" class="img-fluid" title="thapa technical">
                        </figure>
                         <!-- right side div  -->
                        <p>Please check properly</p>
                            <h1><span class="text_clr">404</span> The page does not Exist </h1> <a href="/"><button>go to home</button></a>  
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{{>footer}}
</html>